@keyframes color {
    0%   { background: #08473c; }
    20%  { background: #669e0c; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #08473c; }
  }
  
.banniere{
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
  }
.banniere h1 {
    text-align: center;
    font-family: 'Kavoon', sans-serif;
    font-size: 2.5em;
    color: white;
    animation:pulse 4s infinite;
  }