.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 50px;
    align-content: center;
}
.portfolio-contenant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.portfolio-description{
    display: flex;
    position: absolute;
    opacity: 0;
    height: 100%;
    align-items: center;
    
}
.portfolio-description p{
    font-size: 25px;
    color: black;
}
.portfolio-description:hover{
    opacity: 1;
    background-color: #08473c;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px black solid;
}
.portfolio-img{
    width: 100%;
}
.portfolio-img img {
    width: 25rem;
    height:15rem;
}
.titre{
    display: flex;
    justify-content: center;
}
.portfolio-title{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: black;
    position: absolute;
}
.portfolio-title:hover{
    opacity: 0;
}
@media screen and (max-width: 950px){
    .portfolio{
        display: flex;
        flex-direction: column;
    }
}