.tarifs-contenant{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
}
.tarifs-base{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #08473c;
    color: white;
    animation: backInLeft;
    animation-duration: 5s;
}
.tarifs-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    align-items: center;
}
.tarifs-details li{
    display: flex;
    animation: bounce; 
    animation-duration: 5s;
}
.tarifs-titre{
    width: 100%;
    display: flex;
    justify-content: center;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    from {background-color: #08473c;}
    to {background-color: #41877b;}
  }
.tarifs-prix{
    border-top: 2px #08473c solid;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: mymove 5s infinite;
}
.tarifs-titre h2{
    font-size: 25px;
}
.tarifs-prix p{
    font-size: 25px;
}
@media screen and (max-width: 950px){
    .tarifs-contenant{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
}