.header-contenant{
    background-color: #08473c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.header-logo img{
    width: 100%;
    height: 17rem;
}
.header-titre h1{
    font-size: 3rem;
    color: white;
}
