.header-contenant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: #33CCCC; Fallback */
    /* animation: color 9s infinite linear; */
    text-align: center;
    width: 100%;
}
/* @keyframes color {
    0%   { background: #08473c; }
    20%  { background: #669e0c; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #08473c; }
  } */
  

.header-logo img{
    height: 9.5rem;
}
.header-titre h1{
    font-size: 30px;
    color: white;
}

@media screen and (max-width: 950px){
    .header-contenant{
        display: flex;
        flex-direction: column;
    }
    .header-logo img{
        height: 8rem;
    }
    .header-titre h1{
        font-size: 1rem;
    }
}