.footer-contenant{
    background-color: #08473c;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.logo img{
    height: 8rem;
}
.footer-tel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    font-size: 22px;
}
.footer-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    font-size: 22px;
}
.footer-coordonnée{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-insta img{
    width: 5rem;
}


@media screen and (max-width: 950px){
    .footer-contenant{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
}
