.service-accordeon-contenant{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 2rem;
}
.service-contenant{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.service-titre{
    color:white;
    display: flex;
    justify-content: center;
}
.service-titre h1{
    font-size: 3rem;
}
.service-entete{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.service-entete p{
    font-size: 1.5rem;
}
@media screen and (max-width: 950px){
    .service-accordeon-contenant{
        display: flex;
        flex-direction: column;
    }
}