.diplome{
    display: flex;
    align-items: center;
    gap: 15px;
} 
.diplome-img img{
    height: 8rem;
}
.diplome-text{
    color: #41877b;
    font-weight: 900;
    animation: bounce 3s;
}
.diplome-text p{
    font-size: 20px;
}
.diplome-contenant{
    animation:fadeInLeftBig 3s ;
}